.row {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;    
    margin: 0px;
    padding: 0px;
}

#colTitle {
    background: #b80f22;
}

.title {
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    transition: transform 0.3s;
}

    .title:hover {
        transform: scale(1.1);
    }

.subTitle {
    color: #000;
    font-size: 60px;
    text-align: center;
    width: 100%;
    transition: transform 0.5s;
}

    .subTitle:hover {
        transform: scale(1.2);
    }

#colInfo {
    padding: 20px;
}

.infoTitle {
    width: 100%;
    text-align: center;
    background: #000;
    color: #FFF;
    padding: 10px;
}

h1 {
    font-weight: bold;
}

.info {
    padding: 20px;
    font-size: 20px;    
    
}

#firstInfo {
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #b80f22;    
}

    .link:hover {
        color: #000;        
    }