body {
    background-image: url("../images/general/appointment.jpg");
    background-size: cover;
}

.container {
    padding: 30px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.item {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.DoctorMetadata {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: 5px solid #000;
    border-top: 5px solid #000;
    text-align: center;
    background: #b80f22;
    color: #FFF;   
}

.detailTitle {
    color: #b80f22;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 5px solid #b80f22;
    margin-bottom: 20px;
    width: 150px;
}