@{
    ViewData["Title"] = "Home Page";
}

<div class="title">HOSPITAL GUATEMALTECO SEGURO (HGS)</div>
<div class="square">HOLA</div>

<style type="text/css">
    .title{
        font-size: 30px;
        font-weight: bold;
        border-bottom: 5px solid #000;
        margin-bottom: 10px;
        text-align: center;
        padding: 30px;
    }    
    .square{
        background: rgb(2,0,36);
        color: #FFF;
        height: 600px;
    }
</style>