<link rel="stylesheet" href="~/css/createView.css" asp-append-version="true" />
@model HGSModel.Area

@{
    ViewData["Title"] = "Añdir Área";
}

<div class="title">AÑADIR ÁREA</div>

<div class="row">
    <div class="col">
        <div class="formContainer">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">NOMBRE</label>
                    <input asp-for="Name" placeholder="Ingrese el nombre del área" class="form-control" />
                    <span asp-validation-for="Name" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Description" class="control-label">DESCRIPCIÓN</label>
                    <input asp-for="Description" placeholder="Ingrese una breve descripción del área" class="form-control" />
                    <span asp-validation-for="Description" class="warning-message"></span>
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <input type="submit" value="Añadir Área" class="btn btn-light" />
                </div>
            </form>
        </div>        
    </div>
    <div class="col" style="flex-direction:column;padding: 30px;">
        <div class="information">
            Las Áreas en el hospital HGS son lugares en donde se atienden a pacientes
            en diferentes estados de salud. Si deseas saber si el área ya está
            en el sistema, puedes dar click en el botón "Regresar".
        </div>
        <div>
            <a asp-action="List">
                <input type="submit" value="↻ Regresar" class="btn btn-dark" style="width:200px;" />
            </a>
        </div>
    </div>
</div>


@if (@ViewData["Response"] != null)
{
    @if (@ViewData["Response"].ToString().Equals("Success"))
    {
        <script>
            function Error() {
                Swal.fire('Éxito', '¡Área ingresada existosamente!', 'success');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Unsuccessfully"))
    {
        <script>
            function Error() {
                Swal.fire('Advertencia', '¡Esta área ya ha sido ingresado!', 'info');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Error"))
    {
        <script>
            function Error() {
                Swal.fire('Error', 'Ha ocurrido un error inesperado', 'error');
            }
        </script>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}