@model HGS.Models.Patient

@{
    ViewData["Title"] = "Editar";
}

<div class="title">EDITAR PACIENTE</div>

<div class="row">
    <div class="col" style="display:flex;align-items:center;justify-content:center;">
        <div class="data">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Dpi" class="control-label">DPI</label>
                    <input asp-for="Dpi" readonly placeholder="Ingrese DPI del paciente" class="form-control" />
                    <span asp-validation-for="Dpi" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Name" class="control-label">NOMBRE</label>
                    <input asp-for="Name" placeholder="Ingrese nombre del paciente" class="form-control" />
                    <span asp-validation-for="Name" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Lastname" class="control-label">APELLIDO</label>
                    <input asp-for="Lastname" placeholder="Ingrese apellido del paciente" class="form-control" />
                    <span asp-validation-for="Lastname" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Birthdate" class="control-label">FECHA DE NACIMIENTO</label>
                    <input asp-for="Birthdate" class="form-control" />
                    <span asp-validation-for="Birthdate" class="warning-message"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Observations" class="control-label">OBERVACIONES</label>
                    <input asp-for="Observations" placeholder="Añada alguna observación del paciente" class="form-control" />
                    <span asp-validation-for="Observations" class="warning-message"></span>
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <input type="submit" value="Guardar cambios" class="btn btn-light" />
                </div>
            </form>
        </div>       
    </div>
</div>

<div style="padding: 30px;">
    <a asp-action="List">
        <input type="submit" value="↻ Regresar" class="btn btn-dark" style="width:200px;" />
    </a>
</div>

@if (@ViewData["Response"] != null)
{
    @if (@ViewData["Response"].ToString().Equals("Success"))
    {
        <script>
            function Error() {
                Swal.fire('OK', '¡Paciente modificado existosamente!', 'success');
            }
        </script>
    }    
    else if (@ViewData["Response"].ToString().Equals("Error"))
    {
        <script>
            function Error() {
                Swal.fire('Error', 'Ha ocurrido un error inesperado', 'error');
            }
        </script>
    }
}

<style type="text/css">
    .title {
        padding: 20px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        border-bottom: 5px solid #000;
    }
    .control-label {
        color: #FFF;
        font-weight: bold;
    }
    .form-control {
        border: none;
        border-bottom: 2px solid #FFF;
        border-radius: 0px;
        background: transparent;
        color: #FFF;
    }
    .form-control:read-only{
        background: transparent;
        color: #000;
    }
    .form-control::placeholder {
       color: #FFF;
    }
    .form-control:focus {
       background: transparent;
       color: #FFF;
    }
    .data {
        width: 550px;
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #FE903F;
    }
    .warning-message {
        color: #000;
    }
    .col {
        border-bottom: 5px solid #000;
    }    
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}