@model HGS.Models.Areasucursal

@{
    ViewData["Title"] = "Edit";
}

<div class="title">EDITAR AREASUCURSAL</div>

<div class="row">
    <div class="col" style="display:flex;align-items:center;justify-content:center;">
        <div class="data">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="AreaId" class="control-label">ÁREA</label>
                    <select asp-for="AreaId" class="select" asp-items="ViewBag.AreaId"></select>
                    <span asp-validation-for="AreaId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="BranchId" class="control-label">SUCURSAL</label>
                    <select asp-for="BranchId" class="select" asp-items="ViewBag.BranchId"></select>
                    <span asp-validation-for="BranchId" class="text-danger"></span>
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <input type="submit" value="Guardar cambios" class="btn btn-light" />
                </div>
            </form>
        </div>
        
    </div>
</div>

@if (@ViewData["Result"] != null)
{
    @if (@ViewData["Result"].Equals("OK"))
    {
        <script>
            function Error() {
                Swal.fire('OK', '¡Área modificada existosamente!', 'success');
            }
        </script>
    }

    else
    {
        <script>
            function Error() {
                Swal.fire('Error', '¡Esta área ya ha sido ingresada!', 'error');
            }
        </script>
    }
}

<style type="text/css">
    .title {
        padding: 20px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        border-bottom: 5px solid #000;
    }
    .control-label {
        color: #FFF;
        font-weight: bold;
    }
    .select {
        display: flex;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: none;
        text-transform: capitalize;
        color: #fff;
        background: #292929;
        text-align: center;       
    }
    .data {
        width: 550px;
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #FE903F;
    }
    .col {
        border-bottom: 5px solid #000;
    }
</style>

<div style="padding: 30px;">
    <a asp-action="List">
        <input type="submit" value="Regresar" class="btn btn-dark" style="width:200px;" />
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
