@model IEnumerable<HGSModel.Branch>

@{
    ViewData["Title"] = "Listado de Municipios";
}

<div style="display:flex;">
    <div class="title">LISTADO DE MUNICIPIOS</div>
    <div style="margin:20px; background-color: greenyellow; width: 60px; display: flex; justify-content: center; align-items: center; border-radius: 10px;"><a asp-action="Create" class="add">+</a></div>
</div>

<table class="table table-striped">
    <thead>
        <tr class="table-danger">
            <th>
                MUNICIPIO
            </th>
            <th>
                OPCIONES
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>                            
            </td>
        </tr>
}
    </tbody>
</table>

<style type="text/css">
    .title {
        background: #b80f22;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 30px;
        font-weight: bold;
        color: #FFF;
        width: 400px;
        text-align: center;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .add {
        font-size: 50px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
    }
    .add:hover {
        color: #FFF;
    }
</style>  