<link rel="stylesheet" href="~/css/listView.css" asp-append-version="true" />
@model IEnumerable<HGS.Models.Branch>

@{
    ViewData["Title"] = "Sucursal";
}

<div class="container">
    <div class="title">
        SUCURSALES
    </div>
    <div class="addContainer">
        <div class="addBox">
            <a asp-action="Create" class="add">+</a>
        </div>
        <div class="addText">
            &larr; Añadir Sucursal
        </div>
    </div>    
</div>

<table class="table table-striped" style="margin-bottom:100px;">
    <thead>
        <tr class="table-danger">
            <th>
                MUNICIPIO
            </th>
            <th>                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><input type="submit" value="Editar" class="btn btn-danger" /></a>
            </td>
        </tr>
}
    </tbody>
</table>