@model HGS.Models.Speciality

@{
    ViewData["Title"] = "Create";
}

<div class="title">AÑADIR ESPECIALIDAD</div>

<div class="row">
    <div class ="col" style="display:flex;align-items:center;justify-content:center;">
        <div class="data">
            <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">NOMBRE</label>
                    <input asp-for="Name" placeholder="Ingrese el nombre de la especialidad" class="form-control" />
                    <span asp-validation-for="Name" class="warning-message"></span>
            </div>
            <div class="form-group d-grid gap-2 mt-3">
                <input type="submit" value="Añadir especialidad" class="btn btn-light" />
            </div>
        </form>
        </div>         
    </div>

    <div class="col" style="display:flex; flex-direction:column; align-items:center;justify-content:center;padding: 30px;">
        <div class="information">
            Una especialidad, es aquella área en donde un Doctor/a tiene más habilidad, que en otras.
            Si deseas saber si la especialidad ya está en el sistema, puedes dar click en el botón "Regresar".
        </div>
        <div>
            <a asp-action="List">
                <input type="submit" value="Regresar" class="btn btn-dark" style="width:200px;" />
            </a>
        </div>
    </div>

</div>

@if (@ViewData["Result"] != null)
{    
    @if (@ViewData["Result"].ToString().Equals("OK"))
    {   
        <script>
            function Error() {
                Swal.fire('Éxito','¡Especialidad ingresado existosamente!','success');
            }
        </script>
                
    }
    else
    {             
        <script>
            function Error() {
                Swal.fire('Error','¡Esta especialidad ya ha sido ingresada!','error');
            }
        </script>        
    }
}

<style type="text/css">
    .title {
        padding: 20px;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        border-bottom: 5px solid #000;
    }
    .control-label {
        color: #FFF;
        font-weight: bold;
    }
    .form-control {
        border: none;
        border-bottom: 2px solid #FFF;
        border-radius: 0px;
        background: transparent;
        color: #FFF;
    }
    .form-control::placeholder {
        color: #FFF;
    }
    .form-control:focus {
        background: transparent;
        color: #FFF;
    }
    .data {
        width: 450px;
        padding: 50px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: #b80f22;
    }
    .information {
        font-size: 25px;
        padding: 30px;
        text-align: justify;
    }
    .warning-message {
        color: #000;
    }
    .col {
        border-bottom: 5px solid #000;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}