<link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
@model HGSModel.Speciality

@{
    ViewData["Title"] = "Edit";
}

<div class="title">EDITAR ESPECIALIDAD</div>

<div class="row">
    <div class="col">
        <div class="data">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">NOMBRE</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="waring-message"></span>
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <input type="submit" value="Guardar cambios" class="btn btn-light" />
                </div>
            </form>            
        </div>        
    </div>
</div>

<div style="padding: 30px;">
    <a asp-action="List">
        <input type="submit" value="↻ Regresar" class="btn btn-dark" style="width:200px;" />
    </a>
</div>

@if (@ViewData["Response"] != null)
{
    @if (@ViewData["Response"].ToString().Equals("Success"))
    {
        <script>
            function Error() {
                Swal.fire('Éxito', '¡Especialidad modificada existosamente!', 'success');
            }
        </script>
    }
    else if (@ViewData["Response"].ToString().Equals("Unsuccessfully"))
    {             
        <script>
            function Error() {
                Swal.fire('Advertencia','¡Esta especialidad ya ha sido ingresada!','info');
            }
        </script>        
    }
    else if (@ViewData["Response"].ToString().Equals("Error"))
    {
        <script>
            function Error() {
                Swal.fire('Error', 'Ha ocurrido un error inesperado', 'error');
            }
        </script>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}